# Byte-compiled / optimized / DLL files
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb

# Environments
.env
.venv

# Selenium drivers
chromedriver
chromedriver.exe

# thumbnails
thumbnails

# Temporary directories & files
out/
temp/
durations.csv
